<!DOCTYPE html>
<html>
  <head>
    <title>Grade Book</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_url %>">
            <%= image_tag "rails-brand.png", size: '36x32' %>
          </a>
        </div>
        <ul class="nav navbar-nav"><% if current_user %>
          <li class="<%= "active" if controller_name == "students" %>"><%= link_to "Students", students_path %></li>
          <li class="<%= "active" if controller_name == "homework" %>"><%= link_to "Homework", homework_index_path %></li>
        <% end %></ul>
        <ul class="nav navbar-nav navbar-right">
          <%- if current_user -%>
          <li>
            <span class="navbar-text">
              <img class="avatar" height="20" src="https://avatars1.githubusercontent.com/u/<%= current_user.uid %>?v=3&amp;s=40" width="20">
              <b><%= current_user.nickname %></b>
            </span>
          </li>
          <li>
            <a href="<%= signout_path %>"><i class="fa fa-lg fa-sign-out"></i></a>
          </li>
          <%- else -%>
            <li>
              <a href="/auth/github"><i class="fa fa-lg fa-github"></i></a>
            </li>
          <%- end -%>
          </li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p><%= image_tag "tiy-logo.png", :size => '64x64' %></p>
      </div>
    </footer>
  </body>
</html>
